.filterBar {
  width: 300px;
  background-color: var(--filterbar-background);
  height: calc(100vh - 92.5px);
  border-right: 2px solid #262f3a;
}

.container {
  display: flex;
}

.content {
  width: calc(100% - 300px);
  height: calc(100vh - 92.5px);
  overflow-y: auto;
  flex: 1;
}

.subscriptionUpgradeContainer {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 1rem));
  z-index: 999;
}

.open {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.overlayVisible {
  opacity: 1;
  visibility: visible;
}

body {
  overflow: hidden;
  background-color: #07090b;
}

@media (max-width: 1440px) {
  .filterBar {
    width: 250px;
  }

  .content {
    width: calc(100% - 250px);
  }
}
