.container {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  gap: 1.5rem;
  grid-template-rows: 1fr 4fr;
}

.upper {
  width: 100%;
  background-color: #0d1014;
  border: 2px solid #262f3a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lower {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.searchSkins,
.details {
  background-color: #0d1014;
  border-radius: 10px;
  border: 2px solid #262f3a;
}

.searchSkins {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.details {
  padding: 1.5rem;
}

.upper {
  padding: 1.25rem;
}

.areaTitle {
  color: #fff;
  font-size: 1rem;
  font-family: var(--font-semibold);
}

.inputContainer {
  display: grid;
  grid-template-columns: 20fr 1fr;
  background-color: #181f25;
  border: 2px solid #262f3a;
  border-radius: 10px;
  padding: 0.5rem;
}

.input {
  width: 100%;
  margin-left: 1rem;
  height: 100%;
  color: #55d64a;
  background: none;
  border: none;
  font-family: var(--font-semibold);
  &:focus {
    outline: none;
  }
}

.icon {
  color: #55d64a;
}

.mainInput {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
}

.btnInput {
  background-color: #222b33;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50%;
  color: #ffffff70;
  font-family: var(--font-semibold);
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #34414e;
  }
}

.searchSkins {
  height: 100%;
  width: 100%;
  position: relative;
}

.advancedSettings {
  background-color: #181f25;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3.5rem;
  border-radius: 8px;
  border-top: 2px solid #262f3a;
  transition: all 0.3s ease;
  overflow: hidden;
}

.isUnFolded {
  height: 20rem;
}

.topAdvanced {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3e566a;
  cursor: pointer;
  padding: 1rem;
}

.upperSearch {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.advancedBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14rem;
  gap: 1rem;
  padding: 1rem;
}

.inputContainerAdvanced {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.inputContainerAdvancedSolo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.inputTitle {
  color: #fff;
  font-family: var(--font-medium);
  font-size: 0.75rem;
}

.lowerIcon {
  transition: all 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  background-color: #181f25;
  border-radius: 10px;
  border: 2px solid #262f3a;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.open {
  visibility: visible;
  opacity: 1;
}

.customDropdown {
  position: relative;
}

.choice {
  width: 100%;
  padding: 0.5rem;
  color: #fff;
  font-family: var(--font-medium);
  background-color: #0d1014;
  border: 2px solid #262f3a;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #181f25;
  }
  text-align: left;
}

.inputAdvanced {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.option {
  padding: 0.35rem 1rem;
  cursor: pointer;
  color: white;
  font-family: var(--font-medium);
  font-size: 0.75rem;
  &:hover {
    background-color: #0f1418;
  }
}

.advancedInput {
  width: 100%;
  padding: 0.5rem;
  color: #fff;
  font-family: var(--font-medium);
  background-color: #0d1014;
  border: 2px solid #262f3a;
  border-radius: 6px;
  transition: all 0.3s;
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:focus {
    outline: none;
    border: 2px solid #008cff;
  }
  text-align: left;
}

.error {
  color: #ff0000;
  font-family: var(--font-semibold);
  font-size: 0.75rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.errorShowing {
  visibility: visible;
  opacity: 1;
}

.searchInputContainer {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #181f25;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid #262f3a;
}
.searchIcon {
  color: #fff;
}

.searchInput {
  background: none;
  border: none;
  color: #fff;
  font-family: var(--font-medium);
  width: 100%;
  &:focus {
    outline: none;
  }
}

.searchBody {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
  max-height: 500px;
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #262f3a;
    border-radius: 0;
  }
  &::-webkit-scrollbar-track {
    background-color: #181f25;
    border-radius: 0;
  }
}

.weapons {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.weaponFormatted {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.skinCard {
  height: 230px;
  width: 100%;
  background-color: #181f25;
  border: 2px solid #262f3a;
  border-radius: 6px;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #12171b;
  }
}

.selected {
  background-color: #0d1826;
  border: 2px solid #003883;
  &:hover {
    background-color: #0d1826;
  }
}

.rarity {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background-color: #ff0000;
}

.classified {
  background-color: #f700ff;
}

.restricted {
  background-color: #4c00ff;
}

.mil-Spec {
  background-color: #0000ff;
}

.industrial {
  background-color: rgb(112, 191, 255);
}

.consumer {
  background-color: #b0b0b0;
}

.moreDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.renderMore {
  background-color: #008cff;
  font-family: var(--font-semibold);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #005aad;
  }
}

.weaponImg {
  height: 100px;
  width: 100%;
}

.upperCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wear {
  color: #fff;
  font-family: var(--font-medium);
  font-size: 0.9rem;
}

.name {
  color: #8b8f92;
  font-family: var(--font-semibold);
  font-size: 0.8rem;
}

.priceRange {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-family: var(--font-medium);
  color: #ffffff;
}

.dollarSign {
  color: #55d64a;
  font-family: var(--font-semibold);
}

.price {
  font-size: 0.9rem;
}

.lowerCard {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.img {
  width: 100%;
  height: auto;
}

.topSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addSkin {
  padding: 0.5rem 1rem;
  background-color: #008cff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-family: var(--font-semibold);
  border: none;
  border-radius: 4px;
  border: 2px solid #3e98ff;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #005aad;
  }
}

.topButtons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.filter {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  background-color: #181f25;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #8b8f92;
  font-family: var(--font-semibold);
  border: none;
  border-radius: 4px;
  border: 2px solid #273342;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #1e272f;
  }
}

.infoBar {
  width: 100%;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262f3a;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: var(--font-medium);
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}

.infoBar i {
  color: #5a7290;
}

.detailsTop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #262f3a;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infoBarContainer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s;
}

.iconInfo {
  font-size: 0.4rem;
  color: #a5a2a2;
}

.info {
  color: #a5a2a2;
  font-family: var(--font-medium);
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.totalValue {
  color: #868789;
  font-family: var(--font-semibold);
}

.value {
  color: #55d64a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skinName {
  color: #fff;
  font-family: var(--font-medium);
  font-size: 1rem;
}

.skinListCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgContainer2 {
  background-color: #003883;
  padding: 0rem 0.5rem;
  border-radius: 6px;
  border: 2px solid #0077ff;
}

.imgContainer2 img {
  width: 75px;
  filter: drop-shadow(0px 6px 3px #00000056);
}

.skinListBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 180px;
  overflow-y: auto;
  max-height: 300px;
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #262f3a;
    border-radius: 0;
  }
  &::-webkit-scrollbar-track {
    background-color: #181f25;
    border-radius: 0;
  }
}

.skinList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wantedPrice {
  color: #757575;
  font-family: var(--font-semibold);
  font-size: 0.8rem;
}

.currency {
  color: #55d64a;
}

.leftContent {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.weaponInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.removeBtn {
  height: 100%;
  background: none;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 8px;
  color: rgb(255, 0, 0);
  font-family: var(--font-semibold);
  transition: all 0.3s;
  font-size: 1rem;
  margin-right: 1rem;
  &:hover {
    background-color: rgb(255, 0, 0);
    color: #fff;
  }
}

.topSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-medium);
  color: #fff;
  font-size: 1.25rem;
}

.totalAmount {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.valueAmount {
  color: #ffffff;
}

.details {
  position: relative;
  overflow: hidden;
}

.cartSummary {
  height: 235px;
  background-color: #181f25;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 16px 16px 0 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-medium);
  color: #8b8f92;
  font-size: 0.8rem;
}

.addSkins {
  padding: 0.75rem 1rem;
  background-color: #008cff;
  color: white;
  font-family: var(--font-semibold);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .container {
    height: 100%;
  }

  .searchBody {
    max-height: 350px;
  }

  .searchSkins,
  .details {
    height: 100%;
  }

  .btnInput {
    height: 30px;
    width: 30px;
  }

  .advancedSettings {
    height: 3rem;
  }

  .isUnFolded {
    height: 18rem;
  }

  .advancedBody {
    height: 12rem;
  }

  .skinCard {
    height: 275px;
  }

  .weaponImg {
    height: 80px;
  }

  .cartSummary {
    height: 200px;
  }

  .weaponFormatted {
    grid-template-columns: 1fr 1fr;
  }
}

.stattrak {
  color: #ff5100;
}

.souvenir {
  color: #fbff00;
}

.rare {
  color: #e22525;
}
